$namespace: "page-about";

@include b(wrap) {
  padding-top: 168px;
  @include flex($direction: column, $space: center);

  image {
    width: 148px;
    height: 148px;
    margin-bottom: 32px;
  }

  .name {
    font-size: $--font-size-bigger;
    color: #030303;
  }

  .version {
    font-size: 20px;
    color: #777;
  }
}
