$namespace: "page-agreement";

@include b(wrap) {
  padding: 40px;
  box-sizing: border-box;

  .agreement-title {
    font-size: $--font-size-bigger;
    color: #030303;
    margin-bottom: 20px;
  }

  .agreement-content {
    font-size: $--font-size-medium;
    color: #777;
  }
}
