$namespace: "page-feedback";

@include b(wrap) {
  min-height: 100vh;
  background: #f7f7f7;

  .textarea-wrap {
    background: #fff;
    padding: 40px;
    margin-bottom: 20px;

    textarea {
      width: 100%;
      font-size: $--font-size-medium;
      color: #030303;
    }

    .textarea-class {
      font-size: $--font-size-medium;
      color: #b2b2b2;
      font-weight: normal;
    }

    .image-upload {
      image {
        width: 152px;
        height: 152px;
        border-radius: 24px;

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }

  .user-info {
    background: #fff;
    padding: 0 40px;

    .info-input {
      padding: 44px 0;

      &:not(:last-child) {
        border-bottom: 1px solid #f7f7f7;
      }
    }

    input {
      font-size: $--font-size-bigger;
      color: #030303;
    }

    .input-class {
      font-size: $--font-size-bigger;
      color: #777;
      font-weight: normal;
    }
  }

  .submit {
    margin-top: 128px;
    width: 630px;
  }
}

$namespace: "page-feedback-success";

@include b(wrap) {
  padding-top: 216px;
  text-align: center;

  image {
    width: 200px;
    height: 200px;
    margin-bottom: 32px;
  }

  .feedback-success-title {
    font-size: $--font-size-large;
    color: #030303;
  }

  .tip {
    font-size: $--font-size-medium;
    color: #777;
  }

  .submit {
    margin-top: 484px;
    width: 520px;
  }
}
