$namespace: "page-home";

@include b(wrap) {
  height: 100vh;
  position: relative;
  box-sizing: border-box;

  .weather-info {
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .light {
    background-image: url(http://normal-image.xiaovv-web.com/normal/2020-10-29-bg-light.jpeg);
  }

  .night {
    background-image: url(http://normal-image.xiaovv-web.com/normal/2020-10-29-bg-night.jpeg);
  }

  .weather-triangle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-width: 25vh 100vw 0 0;
    border-color: transparent #fff #fff transparent;
    border-style: solid;
    z-index: 9;
  }

  .weather-title {
    position: absolute;
    left: 24px;
    bottom: 120px;
    width: 180px;
    line-height: 1;
    font-size: 180px;
    font-family: "Cursive";
    color: #fff;
  }

  .weather-area {
    position: absolute;
    left: 24px;
    line-height: 1;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    @include flex();
  }

  .weather-temperature {
    position: absolute;
    left: 228px;
    bottom: 18vh;
    // width: 180px;
    line-height: 1;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
  }

  .today {
    position: absolute;
    right: 24px;
    bottom: 0vh;
    font-size: 36px;
    color: #333;
    z-index: 10;
    text-align: right;

    .today-text {
      margin-top: 20px;
      font-size: 48px;
      font-weight: bold;
      font-family: "Jin Yue";
    }
  }
}
