$namespace: "page-refund-detail";

@include b(wrap) {
  .card-status {
    .card-number {
      left: 0%;
      transform: translate(35%, -50%);

      text {
        font-size: $--font-size-small;
      }
    }

    .status-text {
      font-size: 48px;
      margin-bottom: 24px;
    }
  }
}
