$namespace: "page-user";

@include b(wrap) {
  min-height: 100vh;
  background: #f7f7f7;

  .user-info {
    background: #fff;
    padding: 60px 40px;
    border-bottom: 20px solid #f7f7f7;
    @include flex($space: flex-start);

    image {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      margin-right: 40px;
    }

    text {
      display: block;
      line-height: 1;
    }

    .name {
      font-size: $--font-size-large;
      color: #030303;
    }

    .phone {
      margin-top: 16px;
      font-size: $--font-size-big;
      color: #999;
    }
  }

  .user-operator-list {
    background: #fff;
    padding: 0 40px;
  }

  .user-operator-item {
    font-size: 0;
    padding: 36px 0;
    @include flex();

    &:not(:last-child) {
      border-bottom: 1px solid #f7f7f7;
    }

    .operator-item-name {
      @include flex($space: flex-start);

      text {
        font-size: $--font-size-bigger;
        color: #030303;
        margin-left: 32px;
      }
    }

    image {
      width: 68px;
      height: 68px;
    }
  }
}
