@font-face {
  font-family: "Cursive";
  src: url(http://normal-image.xiaovv-web.com/normal/2020-10-29-C288-%E8%94%A1%E4%BA%91%E6%B1%89%E9%9A%B6%E4%B9%A6%E4%B9%A6%E6%B3%95%E5%AD%97%E4%BD%93.TTF);
}

@font-face {
  font-family: "Jin Yue";
  src: url(http://normal-image.xiaovv-web.com/normal/2020-10-29-J012-%E9%9D%99%E6%9C%88.ttf);
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

image {
  width: 100%;
  height: 100%;
}
