#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-wrapper {
  padding: 0 40px;
}

.wrap-box {
  padding: 0 40px;
}

.title {
  font-size: $--font-size-bigger;
  color: $--font-color-dark;
  font-weight: bold;
  margin-bottom: 30px;
}

.bottom {
  font-size: $--font-size-small;
  color: $--font-color-light;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.submit {
  font-size: $--font-size-big;
  text-align: center;
  color: #fff;
  padding: 26px 0;
  margin: 0 auto;
  background-image: linear-gradient(270deg, #fdbc24 0%, #ff7f16 100%);
  box-shadow: 0 16px 24px 0 rgba(255, 127, 22, 0.1);
  border-radius: 50px;
}
