.weather {
  position: relative;
  overflow: hidden;
}

.weather:before,
.weather:after {
  content: "";
  position: absolute;
  left: -50%;
  top: -50%;
  right: -50%;
  bottom: -50%;
  z-index: 1;
  pointer-events: none;
  background: transparent repeat;
  opacity: 0.5;
  transform: rotate(0deg); /*下雨(下雪)的反向*/
  animation-name: w;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.weather:after {
  opacity: 0.6;
  background-position: 128px 128px;
  animation-name: x;
}

/* 下雨 */
.weather.rain:before,
.weather.rain:after {
  background-image: url("http://normal-image.xiaovv-web.com/normal/2020-10-29-rain.png");
  animation-duration: 2s; /*下雨较慢层，自行调整*/
}

.weather.rain:after {
  animation-duration: 1.5s; /*下雨较快层，自行调整*/
}

/* 下雪 */
.weather.snow:before,
.weather.snow:after {
  background-image: url("http://normal-image.xiaovv-web.com/normal/2020-10-29-snow.png");
  animation-duration: 20s; /*下雨较慢层，自行调整*/
}

.weather.snow:after {
  animation-duration: 15s; /*下雪较快层，自行调整*/
}

/* 动画设置 */
@-webkit-keyframes w {
  from {
    background-position: 0 0px;
  }

  to {
    background-position: 0 4096px;
  }
}

@keyframes w {
  from {
    background-position: 0 0rpx;
  }

  to {
    background-position: 0 4096px;
  }
}

@-webkit-keyframes x {
  from {
    background-position: 256px 256px;
  }

  to {
    background-position: 256px 4352px;
  }
}

@keyframes x {
  from {
    background-position: 436px 256px;
  }

  to {
    background-position: 256px 4352px;
  }
}
